.t-booking-options {
    position: fixed;
    inset: 0;
    z-index: 10;
    width: 100vw;
    overflow-y: auto;
}

.t-booking-options .container {
    position: relative;
    width: 100%;
    max-width: 48rem;
    margin: 5rem auto;
    opacity: 1;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    padding-left: 1rem;
    padding-right: 1rem;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}