.t-holder {
    z-index: 10;
    width: 100vw;
    overflow-y: auto;
    inset: 0;
    position: fixed;
}

.t-holder .t-content {
    position: relative;
    width: 100%;
    max-width: 42rem;
    margin: 5rem auto;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 1;
    transition-duration: 150ms;
}

.t-holder .t-approve {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    position: relative;
    overflow: hidden;
    border-radius: 0.5rem;
    text-align: left;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    padding: 1.25rem 1rem 1rem;;
}

