.t-search {
    padding-bottom: 0.75rem;
}

.t-search .t-search-label {
    --tw-text-opacity: 1;
    display: block;
    font-weight: 500;
    font-size: 1.125rem; /* 18px */
    line-height: 1.75rem; /* 28px */
    color: rgb(17 24 39 / var(--tw-text-opacity));
}

.t-search .t-search-input {
    position: relative;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
}

.t-search .t-search-input .t-input {
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity));
    display: block;
    width: 100%;
    border-radius: 0.75rem;
    border-width: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 3.5rem;
}

.t-search .t-search-input .t-input:focus {
    --tw-ring-inset: inset;
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(8 83 134 / var(--tw-ring-opacity));
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000)
}



