.t-search {
    padding-bottom: 0.75rem;
}

.t-search .t-search-label {
    --tw-text-opacity: 1;
    display: block;
    font-weight: 500;
    font-size: 1.125rem; /* 18px */
    line-height: 1.75rem; /* 28px */
    color: rgb(17 24 39 / var(--tw-text-opacity));
}

.t-search .t-search-input {
    position: relative;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
}

.t-search .t-search-input input {
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity));
    display: block;
    width: 100%;
    border-radius: 0.75rem;
    border-width: 0;
    padding-top: 0.5rem/* 8px */;
    padding-bottom: 0.5rem/* 8px */;
    padding-right: 3.5rem/* 56px */;
}